/* ************* Common distributed styles***************** */
body {

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

.btn-primary {

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    padding: 21px 40px;
    border-radius: 48px;
    border: none;

}

/* ------------------------header styles----------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
    height: 9rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 0;

}


.nav-title {

    display: flex;
    align-items: center;

}

.nav-title-text {

    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}

nav ul {

    list-style-type: none;
    display: flex;
    align-items: center;

}

nav li {

    margin-right: 2rem;
}

nav li a {

    text-decoration: none;
    font-weight: 500;
}

.nav-btn {

    height: 3.5rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;

    display: flex;
    align-items: center;


}


/* ----------------------------------Main Styles--------------------------------------- */



/* -----------------------header section styles------------------------ */

.banner {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;
    margin: 0;
    padding: 0;



}

.banner-text-container {


    background-image: url(../images/bannar-background.png);
    /* background-position: left; */
    background-repeat: no-repeat;
    /* background-size:contain; */
    object-fit: fill;
    height: 100%;
    width: 50%;
    padding: 10ren 15rem 10rem;

    display: flex;
    justify-content: center;
    align-items: center;


}

.banner-text {}



.banner-title1 {

    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.banner-title2 {

    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;



}

.banner-list {

    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom: 40px;

}

.banner-text-container>ul li {

    color: #534C64;
    font-size: 20px;
    font-weight: 500;

}

.banner-btn {

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
}

.banner-img-container {

    padding-right: 15rem;
    height: 100%;
}

.banner-img {

    height: 100%;
}



/* *********************************************************************
    *********************gamer section styles******************************* */

.gamer {

    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 0 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}




.gamer-text-container {


    text-align: right;
}

.gamer-title {

    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;

}

.gamer-details {

    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.purpose-text {

    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.quotation {

    color: #534C64;
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;

}



/* ****************************Onlines games funny videos*************************** */

.online-games-funny-videos {


    margin: 11rem 15rem
}

.funny-videos-item-container {

    display: flex;
    justify-content: space-between;
}

.funny-videos-title {

    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.funny-videos-gradient-text {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny-videos-text {

    color: #534C64;
    text-align: center;
    font-weight: 400;
    margin-bottom: 3rem;
}

.funny-videos-item {

    width: 21rem;

}

.funny-videos-img-item {


    height: 25rem;
    border-radius: 1rem;
    width: 100%;
}

.funny {

    height: 100%;
    width: 100%;
}


.funny-videos-text-item {

    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}


/* ******************************Instruction section******************************** */

.instruction{

    margin: 10rem 15rem;
    display: flex;
    justify-content: space-between;

}

.instruction-text-container{

    text-align: right;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-instruction {

    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    
}

.instruction-color-text {

    color: #F948B2
}

.sub-instruction {

    color: #534C64;
    font-size: 18px;
}

.instruction-img-container{

    width: 40%;
    position: relative;
}

.instruction-first-img{

    width: 100%;
    
}

.instruction-second-img{

   position: absolute;
   left:-10rem ;
   bottom: -5rem;
  
}